# Brian Chrzanowski
# Sat Feb 01, 2020 21:01
#
# Here's a slideshow demonstration.

: name testing_slideshow

# Set the fontsize before the font, so we can actually get the fontsize that
# we use.
: fontsize 14
: font fonts/PTSans-Regular.ttf

# title slide
: newslide
: justified left
: color bg 0x3366cc
: color fg 0xfefefe
Brian Chrzanowski
: blank

# end slide
: newslide
: color bg 0x3366cc
: color fg 0xfefefe
: justified center
Questions?

